.MainInputComponent {
  border: 1px;
  border-style: solid;
  display: grid;
  grid-template-columns: 1 fr 2fr;
}

.InputIngredientBlock {
  border: 1px;
  border-style: solid;
  grid-column: 1 / 2;
}

.InputStepBlock {
  border: 1px;
  border-style: solid;
  grid-column: 2;
}
